
body{
background-image: url('background.jpg');
}
.container{
    height: 300px;
    width: 300px;
    margin: 100px auto;
    background-color: rgb(201, 206, 203);
}

.display{
    background: rgb(201, 206, 203);
    text-align: right;
    margin-right: 20px;
    height: 50px;
    width: 70%;
    margin: 10px 25px;
    padding: 20px;
    font-size: 19px;
    border-width: 0;
    object-fit: scale-down;
}
.numbers{
    margin-left: 30px;
    background: rgb(201, 206, 203);
    height: 130px;
    width: 150px;
    text-align: center;
}

.num{
    height: 35px;
    width: 35px;
    border-radius: 50%;
    background: rgb(201, 206, 203);
    font-size: 20px;
    margin-right: 10px;
    margin-bottom: 10px;
    font-weight: bold;
    cursor: pointer;
    border-width: 0;
}

.operators{
    background: rgb(201, 206, 203);
    position: absolute;
    margin-top: -130px;
    margin-left: 180px;
    height: 130px;
    width: 100px;
    font-size: 50%;
    text-align: center;
}

.op{
    height: 35px;
    width: 35px;
    border-radius: 50%;
    background-color: rgb(201, 206, 203);
    font-size: 20px;
    margin-bottom: 9px;
    margin-right: 10px;
    font-weight: bold;
    cursor: pointer;
    border-width: 0;
}

.row-1{
    position: relative;
    margin: auto;
    background: rgb(201, 206, 203);
    height: 40px;
    width: 150px;
    text-align: center;
}

.add-on{height: 35px;
    width: 35px;
    border-radius: 50%;
    background-color: rgb(201, 206, 203);
    font-size: 20px;
    margin-bottom: 9px;
    margin-right: 10px;
    font-weight: bold;
    cursor: pointer;
    border-width: 0;
}